<h1>This is a GET request</h1>

<p>http://localhost:3000/home/typeWhatYouWant</p>

<h3>ID of this page is {{ output }}</h3>


<p>.hbs Template comments with double curly braces</p>
{{! This comment will not show up in the output}}
<!-- This comment will show up as HTML-comment -->
{{!-- This comment may contain mustaches like }} --}}

{{!-- <a href="http://localhost:3000">Go back</a> --}}